<div class="plan">
  <div class="text">プランテキスト</div>
  <div class="body">
    <h3 class="price">
      <span class="yen">￥</span>5,000<span class="memo"><br />月額</span>
    </h3>
  </div>
  <div class="list">
    <p class="start">入会金0円</p>
    <p class="start">平日:9時～17時</p>
    <p class="start">土日祝:利用ナシ</p>
    <p class="start">コアタイムプランでの利用に最適なプラン</p>
  </div>
</div>
<div class="plan-b">
<div class="plan">
  <div class="text-b">プランテキスト</div>
  <div class="body">
    <h3 class="price">
      <span class="yen">￥</span>5,000<span class="memo"><br />月額</span>
    </h3>
  </div>
  <div class="list">
    <p class="start">入会金0円</p>
    <p class="start">平日:9時～17時</p>
    <p class="start">土日祝:利用ナシ</p>
    <p class="start">コアタイムプランでの利用に最適なプラン</p>
  </div>
</div>
</div>