@use "../../variables" as *;

.plan{
  width:540px;
  @media(max-width:$breakpoint-md){
    width:220px;
  }
.text {
  color: $white;
  padding: 20px 40px;
  background-color: $orange_zorba;
  text-align: center;
  border: 1px solid;
  border-color: $gray_desertStorm;
  font-size:$fontsize-l;
}
.body {
  background-color: $gray_desertStorm;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:24px;
  border: solid;
  border-color: $gray_desertStorm;
  .yen {
    font-size: $fontsize-l;
  }
  .price {
    color: $orange_bistre;
    font-size:$fontsize-xxl;
    .memo {
      display:flex;
      color: $black;
      font-weight: normal;
      font-size: $fontsize-s;
      justify-content:center;
    }
  }
}
.list {
  justify-content: center;
  align-items: center;
  text-decoration-color: $gray_desertStorm;
  text-align: center;
  .start {
    display:flex;
    justify-content:center;
    align-items:center;
    border: 1px solid $gray_desertStorm;
    border-color: $gray_desertStorm;
    padding:20px;
    margin-bottom: -2px;
    font-size:$fontsize-s;
  }

}
.plan-b{
  border: 1px solid $orange_bistre;
}
.text-b {
  color: $white;
  padding: 20px 40px;
  background-color: $orange_bistre;
  text-align: center;
  border: 1px solid;
  border-color: $gray_desertStorm;
  font-size:$fontsize-l;
}

}
