@use "../../variables" as *;

.card {
  object-fit: contain;
  .on {
    overflow: hidden;
    img {
      position: relative;
      width: 100%;
      @media (min-width: $breakpoint-md) {
        &:hover {
          transition: 0.5s ease;
          transform: scale(1.2);
        }
      }
    }
  }
  .white {
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 150px 150px 0 0;
    border-color: $white transparent transparent transparent;
  }
  .title {
    position: absolute;
    top: 0;
    left: 0;
    color: $orange_bistre;
    font-family: $fontfamily-gothic;
    font-size: $fontsize-l;
  }
  .below {
    background-color: $white_smoke;
    padding: 32px;
    .text{
      margin-bottom:30px;
    }
    
    .button{
      display:flex;
      justify-content:center;
    }
  }
}
