@use "../../variables" as *;

.news {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 35px;

  @media (min-width: $breakpoint-md) {
    margin-bottom: 0;
  }
  .news-title {
    font-family: $fontfamily-mincho;
  }
  .caption {
    font-size: $fontsize-m;
  }

  .news-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 14px;

    @media (min-width: $breakpoint-md) {
      margin-bottom: 30px;
    }

    .news-card {
      & > a {
        height: 80px;
        display: flex;
        text-decoration: none;

        .news-thumbnail {
          display: none;
          width: 207px;
          overflow: hidden;
        }

        .news-caption {
          width: 100%;
          background-color: $white;
          border: 1px solid $gray_gainsboro;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 10px 20px 16px;

          & > h3 {
            color: $black;
            font-size: $fontsize-m;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 8px;
            width: 100%;
          }

          .time {
            color: $gray_nobel;
            font-size: $fontsize-xs;
            margin-bottom: 10px;
          }
        }

        @media (min-width: $breakpoint-md) {
          height: 134px;

          .news-caption {
            width: calc(100% - 207px);
            padding: 0 24px;
          }
        }
      }

      &:not(:first-child) > a .news-caption {
        border-top: none;
      }
    }
  }
  .news-more {
    color: $black;
    text-decoration: none;
    text-align: right;
  }
}
