@use "../../variables" as *;

div {
  width: 327px;
  height: 204px;
  padding: 52px 20px;

  @media (max-width: $breakpoint-lg) {
    width: 200px;
    height: 128px;
    padding: 32px 20px;
  }

  .title {
    align-items: center;
    text-align: center;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xl;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-lg) {
      font-size: $fontsize-l;
      margin-bottom: 6px;
    }
  }

  .setumei {
    align-items: center;
    text-align: center;
    font-family: $fontfamily-gothic;
    font-size: $fontsize-s;

    @media (max-width: $breakpoint-lg) {
      font-size: $fontsize-s;
    }
  }
}
