@use "../../variables" as *;

.message {
  padding: 52px 20px;

  @media (max-width: $breakpoint-lg) {
    padding: 32px 20px;
  }

  .title {
    align-items: center;
    text-align: center;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xl;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-lg) {
      font-size: $fontsize-l;
      margin-bottom: 6px;
    }
  }

  .setumei {
    align-items: center;
    text-align: center;
    font-size: $fontsize-s;
    margin: 0;
  }
}
