@use "../../variables" as *;

.message {
  padding: 52px 20px;
  text-align: center;

  @media (max-width: $breakpoint-lg) {
    padding: 32px 20px;
  }

  .title {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xl;
    margin-bottom: 10px;
    line-height: 54px;
    font-weight: 400;

    @media (max-width: $breakpoint-lg) {
      font-size: $fontsize-l;
      margin-bottom: 6px;
      line-height: 30px;
    }
  }

  p {
    font-size: $fontsize-s;
    margin: 0;
    line-height: 36px;
    @media (max-width: $breakpoint-lg) {
      line-height: 28px;
    }
  }
}