@use "../../variables" as *;

a {
  color: $white;
  background-color: $black;
  transition: all 0.2s;
  width: 200px;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;

  &:hover {
    color: $white;
    background-color: $orange_bistre;
    text-decoration-line: none;
  }
  @media (max-width: $breakpoint-md) {
    width: 150px;
    height: 55px;
  }
  @media (max-width: $breakpoint-sm) {
    width: 180px;
    height: 45px;
  }
}
